.advantages {
  @include list-reset;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: -28px;
}

.advantages__item {
  padding-top: 55px;
  margin-bottom: 28px;
  background-repeat: no-repeat;
  background-position: 9px 0;
}

.advantages__item--flower {
  background-image: url("../../img/icon-feature-flower.svg");
}

.advantages__item--money {
  background-image: url("../../img/icon-feature-money.svg");
  background-position: 0 0;
}

.advantages__item--heart {
  background-image: url("../../img/icon-feature-heart.svg");
  background-position: 6px 6px;
}

.advantages__item--ball {
  background-image: url("../../img/icon-feature-ball.svg");
  background-position: 2px 2px;
}

.advantages__item--rocket {
  background-image: url("../../img/icon-feature-rocket.svg");
  background-position: 0 5px;
}

.advantages__item--gift {
  background-image: url("../../img/icon-feature-gift.svg");
  background-position: 1px 2px;
}

@media (min-width: $tablet-width) {
  .advantages {
    font-size: 20px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -56px;
  }

  .advantages__item {
    width: 50%;
    padding-top: 55px;
    margin-bottom: 56px;
  }

  .advantages__item:nth-child(1) {
    order: 1;
  }

  .advantages__item:nth-child(2) {
    order: 3;
  }

  .advantages__item:nth-child(3) {
    order: 5;
  }

  .advantages__item:nth-child(4) {
    order: 2;
  }

  .advantages__item:nth-child(5) {
    order: 4;
  }

  .advantages__item:nth-child(6) {
    order: 6;
  }
}
