.catalog-fast {
  @include list-reset;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.catalog-fast__link {
  display: block;

  &:hover .catalog-fast__icon,
  &:focus .catalog-fast__icon {
    color: $catalog-fast-icon-hover;
  }

  &:active .catalog-fast__icon {
    color: $catalog-fast-icon-active;
  }

  &--green_1 {
    background-color: $green-1;
  }

  &--green_2 {
    background-color: $green-2;
  }
}

.catalog-fast__wrapper {
  max-width: 320px;
  padding: 27px 150px 27px 30px;
  margin: 0 auto;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.catalog-fast__icon {
  position: absolute;
  top: 23px;
  right: 27px;
  color: $catalog-fast-icon;

  &--interier {
    right: 35px;
    width: 40px;
    height: 62px;
  }

  &--toy {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-fast {
    display: flex;
    font-size: 20px;
    line-height: 30px;
  }

  .catalog-fast__item {
    width: 50%;
    box-sizing: border-box;
  }

  .catalog-fast__link {
    padding: 30px 130px 35px 35px;
    position: relative;

    &:hover,
    &:focus {
      transform: translate(0, -5px);
    }
  }

  .catalog-fast__wrapper {
    display: initial;
    padding: 0;
    margin: 0;
    max-width: initial;
    position: static;
  }

  .catalog-fast__icon {
    top: 30px;
    right: 34px;

    &--interier {
      right: 35px;
      width: 40px;
      height: 62px;
    }

    &--toy {
      width: 60px;
      height: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-fast__link {
    padding-right: 310px;
  }
}
