.catalog-fast {
  @include list-reset;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  background: $green-1;
}

.catalog-fast__item {
  padding: 20px;


  &--green_1 {
    background-color: $green-1;
  }

  &--green_2 {
    background-color: $green-2;
  }
}
