.factory__title {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
  border: 1px solid $grey-5;
  padding: 25px 25px 22px 90px;
  position: relative;

  svg {
    width: 32px;
    height: 32px;
  }
}

.factory__title svg {
  position: absolute;
  top: 50%;
  left: 33px;
  transform: translate(0, -50%);
}

.factory__preview {
  position: relative;
}

.factory__play {
  position: absolute;
  width: 101px;
  height: 77px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../../img/icon-play.svg") no-repeat center center;
  background-size: 100% auto;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }
}

.factory__preview img {
  display: block;
}

.factory__box {
  @include with-shadow;
  border: 1px solid $grey-5;
  padding: 24px 33px 32px;
}

.factory__description {
  font-size: 13px;
  color: $grey-1;
  margin: 0 0 25px;
}

.factory__button {
  @include grey-button;
  padding: 14px 10px;
}

@media (min-width: $tablet-width) {
  .factory {
    display: flex;
    flex-direction: column;
  }

  .factory__preview {
    width: 668px;
    height: 455px;
    order: -1;
  }

  .factory__preview img {
    width: 100%;
    height: 100%;
  }

  .factory__title {
    border-bottom: none;
    font-size: 20px;
    padding: 38px 38px 0 105px;
  }

  .factory__title svg {
    transform: none;
    top: auto;
    bottom: 0;
    left: 40px;
  }

  .factory__box {
    border-top: none;
    padding: 32px 40px 45px;
  }

  .factory__description {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .factory {
    position: relative;
    padding-left: 682px;
    min-height: 455px;
  }

  .factory__title {
    border-left: none;
    padding: 95px 95px 0 78px;
  }

  .factory__title svg {
    top: 40px;
    left: 80px;
  }

  .factory__preview {
    width: 682px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .factory__box {
    border-left: none;
    padding: 32px 58px 59px 80px;
  }

  .factory__description {
    margin-bottom: 47px;
  }
}
