.fieldset-inputs__legend {
  margin-bottom: 28px;
}

.fieldset-inputs__label {
  margin-bottom: 22px;
  width: 100%;
  display: inline-block;

  &:hover .fieldset-inputs__input {
    border-bottom: 2px solid $control-hover;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}


.fieldset-inputs__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  padding: 14px 0;
  font-size: 17px;
  line-height: 17px;

  &:focus,
  &:active {
    border-bottom: 2px solid $control-hover;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .fieldset-inputs {
    padding-top: 49px;
    padding-bottom: 48px;
    margin-bottom: 0;
  }

  .fieldset-inputs__label {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }

  .fieldset-inputs__input {
    font-size: 19px;
    line-height: 19px;
    width: auto;
    margin-left: 25px;
    padding: 12px 15px;
    flex-grow: 1;
    margin-bottom: 3px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-inputs__label {
    align-items: baseline;
  }
}
