.main-catalog {
  @include common-wrapper;
  padding-top: 30px;
  padding-bottom: 60px;
}

@media (min-width: $tablet-width) {
  .main-catalog {
    padding-top: 73px;
    padding-bottom: 62px;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog {
    padding-top: 120px;
    padding-bottom: 105px;
  }
}
