.main-catalog {
  padding-top: 30px;
  padding-bottom: 60px;
}

.main-catalog__products {
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .main-catalog {
    padding-top: 73px;
    padding-bottom: 62px;
  }

  .main-catalog__products {
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog {
    padding-top: 120px;
    padding-bottom: 105px;
  }

  .main-catalog__products {
    margin-bottom: 57px;
  }
}
