.social {
  @include list-reset;
  border-bottom: 1px solid $grey-3;
  display: flex;
  justify-content: space-between;
  padding: 0 52px 27px;
}

.social__link {
  width: 30px;
  height: 30px;
  display: flex;

  &:hover,
  &:focus {
    color: $social-icon-hover;
  }

  &:active {
    color: $social-icon-active;
  }
}

.social__link svg {
  margin: auto;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    padding: 0;
  }

  .social__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}
