.updates__link {
  &:hover,
  &:focus {
    color: $navigation-link-hover;
  }

  &:active {
    color: $navigation-link-active;
  }
}

@media (min-width: $desktop-width) {
  .updates {
    display: flex;
  }

  .updates__item {
    margin-right: 62px;
  }

  .updates__item:last-child {
    margin-right: 0;
  }

  .updates__link {
    padding-top: 17px;
    display: block;
  }
}
