@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin section-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

@mixin grey-button {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px 30px;
  border: 2px solid $grey-1;
  display: block;
  background-color: #ffffff;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $grey-1;
    color: rgba(255, 255, 255, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@mixin common-wrapper {
  max-width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding: 0 50px;
  }
}

@mixin with-top-zigzag-line {
  background: url("../img/bg-zigzag-line.svg") repeat-x 0 5px;
  background-size: 320px;

  @media (min-width: $tablet-width) {
    background-size: 768px;
  }

  @media (min-width: $desktop-width) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1050px;
  }
}

@mixin with-shadow {
  &:hover {
    box-shadow: 0 5px 10px -5px $grey-1;
  }

  &:active {
    box-shadow: 0 0 10px -5px $grey-1;
  }
}

@mixin with-bottom-zigzag-pseudo {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 18px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x center 0;
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x center 0;
      background-size: 1250px auto;
    }
  }
}
