$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;


$green-1: #63d1bb;
$green-2: #56c3b2;
$grey-1: #444444;
$grey-2: #f1f1f1;
$grey-3: #e5e5e5;
$grey-4: #ededed;
$grey-5: #ececec;
$grey-6: #f9f9f9;
$grey-7: #d3d2d2;

$navigation-link-hover: rgba(0, 0, 0, 0.6);
$navigation-link-active: rgba(0, 0, 0, 0.3);

$tools-icon: $grey-7;
$tools-icon-hover: $green-1;
$tools-icon-active: rgba(99, 209, 187, 0.3);

$card-icon: $grey-7;
$card-icon-hover: $green-1;
$card-icon-active: rgba(99, 209, 187, 0.3);

$catalog-fast-icon: rgba(20, 144, 128, 0.5);
$catalog-fast-icon-hover: rgba(20, 144, 128, 0.7);
$catalog-fast-icon-active: rgba(20, 144, 128, 0.3);

$slider-button: rgba(0, 0, 0, 1);
$slider-button-hover: rgba(0, 0, 0, 0.6);
$slider-button-active: rgba(0, 0, 0, 0.3);

$social-icon: rgba(0, 0, 0, 1);
$social-icon-hover: rgba(99, 209, 187, 1);
$social-icon-active: rgba(99, 209, 187, 0.3);

$footer-logo: rgba(0, 0, 0, 1);
$footer-logo-hover: rgba(99, 209, 187, 1);
$footer-logo-active: rgba(99, 209, 187, 0.3);

$control-hover: $green-1;
$control-active: rgba(0, 0, 0, 0.3);
