.wrapper {
  max-width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

.wrapper--header {
  max-width: initial;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .wrapper {
    max-width: 668px;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    max-width: 1050px;
    padding: 0 50px;
  }

  .wrapper--header {
    max-width: initial;
    padding: 0;
  }
}
